p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

:root {
  --main-color: #212121;
  --main-background-color: #ffffff;
  --typical-lh: 1.14;
  --primary-bg-color: #f5f4fa;
  --active-bg-color: #2196f3;
  --active-link-color: #2196f3;
  --header-text-color: #000000;
  --pale-color: #757575;
  --hero-bg-color: #2f303a;
  --secondary-color: #ffffff;
  --address-color: rgba(255, 255, 255, 0.6);
  --border-project-color: #eeeeee;
  --inactive-btn-color: #f5f4fa;
  --transition-timing-fun: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  background-color: var(--main-background-color);
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  transition: color 250ms var(--transition-timing-fun);
}
.link:hover, .link:focus {
  color: var(--active-link-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: var(--main-background-color);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms linear;
  padding: 40px;
  border-radius: 4px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1);
}

.modal__icon:hover,
.modal__icon:focus {
  fill: var(--active-bg-color);
}

.modal__btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  right: 8px;
  top: 8px;
  color: var(--header-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  margin-bottom: 12px;
}

.modal-wrap__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;
}
.modal-wrap__input:focus {
  border: 1px solid var(--active-bg-color);
}

.input-wrap {
  position: relative;
}

.modal-wrap__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
}
.modal-wrap__input:focus + .modal-wrap__icon {
  fill: var(--active-bg-color);
}

.modal__name {
  display: block;
  margin-top: 12px;
}

.modal__label {
  display: block;
  margin-top: 10px;
}

.modal__text {
  font-size: 12px;
  color: #757575;
  margin-bottom: 4px;
  display: block;
}

.modal__comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 25px;
  padding: 12px 16px;
  resize: none;
}
.modal__comment::-moz-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment:-ms-input-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment::placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}

.check-text {
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
}
.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-color);
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.modal-field__check:checked + .check-text span {
  background-color: var(--active-bg-color);
  border-color: transparent;
  fill: var(--secondary-color);
}
.modal-field__check:focus + .check-text span {
  border-color: var(--active-link-color);
}

.modal-field__icon {
  width: 16px;
  height: 15px;
}

.policy {
  margin-left: 5px;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--active-link-color);
  text-underline-offset: 3px;
}

.modal__button {
  color: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--active-bg-color);
  min-width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto 0;
  font-weight: 700;
}
.modal__button:hover, .modal__button:focus {
  background-color: #188ce8;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.navigation__logo,
.navigation__logo:visited {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: var(--typical-lh);
  letter-spacing: 0.02em;
  color: var(--main-color);
  position: relative;
}

.active__logo {
  color: var(--active-link-color);
}

.current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--active-bg-color);
  margin-top: 28px;
}

.header__container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  gap: 50px;
}

.connect {
  display: flex;
  margin-left: auto;
  gap: 30px;
}

.contact {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: var(--typical-lh);
  letter-spacing: 0.02em;
  color: var(--pale-color);
  align-items: center;
  justify-content: center;
}

.mail__icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
}
.link:hover .mail__icon, .link:focus .mail__icon {
  fill: var(--active-link-color);
}

.tel__icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
}
.link:hover .tel__icon, .link:focus .tel__icon {
  fill: var(--active-link-color);
}

.main__logo--dark {
  color: var(--main-color);
}

.main__logo--light {
  color: #fff;
}

.hero {
  background-color: var(--hero-bg-color);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.hero__header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.main__btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--secondary-color);
  background-color: var(--active-bg-color);
  min-width: 216px;
  height: 50px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.about__list {
  display: flex;
  gap: 30px;
}

.about {
  padding-top: 94px;
  padding-bottom: 94px;
}

.about__title {
  font-weight: 700;
  font-size: 14px;
  line-height: var(--typical-lh);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 10px;
}

.about__content {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--pale-color);
}

.about__item::before {
  display: block;
  content: "";
  height: 120px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.antenna::before {
  background-image: url("../images/antenna 1.svg");
}

.clock::before {
  background-image: url("../images/clock 1.svg");
}

.diagram::before {
  background-image: url("../images/diagram 1.svg");
}

.astronaut::before {
  background-image: url("../images/astronaut 1.svg");
}

.work {
  padding-bottom: 94px;
}

.work-list {
  display: flex;
  gap: 30px;
  position: relative;
}

.work__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.work-list__title {
  position: absolute;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  width: 370px;
  height: 70px;
  padding: 27px;
  text-align: center;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--primary-bg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__list {
  display: flex;
  gap: 30px;
}

.team__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
}

.team-list__item {
  background: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.team-list__job {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--pale-color);
  margin-top: 10px;
}

.team-list__member {
  padding-top: 30px;
  padding-bottom: 30px;
}

.soc-list {
  display: flex;
  margin-top: 16px;
  justify-content: center;
  gap: 10px;
}

.soc-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--transition-timing-fun), fill 250ms var(--transition-timing-fun);
}
.soc-list__link:hover, .soc-list__link:focus {
  background-color: var(--active-bg-color);
}

.soc-list__link:hover .soc-list__icon,
.soc-list__link:focus .soc-list__icon {
  fill: var(--secondary-color);
}

.soc-list__icon--light {
  fill: #afb1b8;
}

.soc-list__icon--dark {
  fill: var(--main-background-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-color);
  text-align: center;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  gap: 30px;
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms var(--transition-timing-fun), fill 250ms var(--transition-timing-fun);
}
.clients-list__link:hover, .clients-list__link:focus {
  border: 1px solid var(--active-link-color);
}

.clients-list__icon {
  fill: #afb1b8;
  width: 106px;
  height: 60px;
}
.clients-list__link:hover .clients-list__icon, .clients-list__link:focus .clients-list__icon {
  fill: var(--active-link-color);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project {
  padding: 20px 24px;
}

.project-list__item {
  background: var(--main-background-color);
  border: 1px solid #eeeeee;
  width: 370px;
  transition: box-shadow 250ms var(--transition-timing-fun);
}
.project-list__item:hover, .project-list__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-list__item:nth-child(-n+3) {
  margin-top: 0;
}
.project-list__item:nth-last-child(-n+3) {
  margin-bottom: 94px;
}

.top-wrap {
  position: relative;
  overflow: hidden;
}

.top-wrap__text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  height: 101%;
  transform: translateY(100%);
  transition: transform 300ms linear;
}
.project-list__item:hover .top-wrap__text {
  transform: translateY(0);
}

.project__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.project__text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--pale-color);
  padding-top: 4px;
}

.portfolio {
  padding-top: 94px;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8px;
  margin-bottom: 50px;
}

.portfolio__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  color: var(--main-color);
  background-color: var(--primary-bg-color);
  border-color: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  transition: background-color 250ms var(--transition-timing-fun), color 250ms var(--transition-timing-fun), box-shadow 250ms var(--transition-timing-fun);
}
.portfolio__btn:hover, .portfolio__btn:focus {
  background-color: var(--active-bg-color);
  color: var(--secondary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.active__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  background-color: var(--active-bg-color);
  color: var(--secondary-color);
  border-color: transparent;
  border-radius: 4px;
  padding: 6px 22px;
}

footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.container__footer {
  display: flex;
  align-items: baseline;
}

.footer__logo,
.footer__logo:visited {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.address {
  display: flex;
  font-style: normal;
  margin-top: 20px;
}

.address__map {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.address__list {
  margin-top: 9px;
}

.address__item {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--address-color);
}

.footer__contact {
  align-items: baseline;
  justify-content: center;
  margin-left: 70px;
}

.footer__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.footer-soc-list {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}

.footer-soc-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--transition-timing-fun), fill 250ms var(--transition-timing-fun);
}
.footer-soc-list__link:hover, .footer-soc-list__link:focus {
  background-color: var(--active-bg-color);
}

.footer-soc-list__icon {
  fill: var(--secondary-color);
}

.footer-soc-list__link:hover .footer-soc-list__icon,
.footer-soc-list__link:focus .footer-soc-list__icon {
  fill: var(--secondary-color);
}

.subscribe {
  margin-left: 93px;
}

.subscribe__header {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input:focus {
  border: 1px solid var(--active-bg-color);
}

.subscribe__form {
  display: flex;
}

.subscribe__button {
  color: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  border: none;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--active-bg-color);
  min-width: 200px;
  min-height: 50px;
  margin-left: 12px;
  padding-left: 28px;
  align-items: center;
  display: flex;
}

.subscribe__icon {
  align-self: center;
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */