.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.navigation__logo,
.navigation__logo:visited {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-right: 88px;
  }
}

.menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: var(--typical-lh);
  letter-spacing: 0.02em;
  color: var(--main-color);
  position: relative;
}

.active__logo {
  color: var(--active-link-color);
}

.current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--active-bg-color);
  margin-top: 28px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: none;
  gap: 50px;
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 56px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 53px;
  }
}

.connect {
  display: none;
  margin-left: auto;
  gap: 30px;
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 90px;
  }
}

.contact {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: var(--typical-lh);
  letter-spacing: 0.02em;
  color: var(--pale-color);
  align-items: center;
  justify-content: center;
  font-weight: 500;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}

.mail__icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
  fill: #757575;
  .link:hover &,
  .link:focus & {
    fill: var(--active-link-color);
  }
}

.tel__icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
  fill: #757575;
  .link:hover &,
  .link:focus & {
    fill: var(--active-link-color);
  }
}

.main__logo--dark {
  color: var(--main-color);
}

.main__logo--light {
  color: #fff;
}

// ------------------------------MOBILE MENU-----------------------

.mob-menu {
  position: fixed;
  top: 0;
  background-color: var(--main-background-color);
  width: 100vw;
  height: 100vh;
  padding-top: 10px;
  padding-bottom: 48px;
  z-index: 1;
  > .container {
    height: 100%;
    padding: 10px 15px 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }
}

.menu-close-btn {
  margin-left: auto;
  display: block;
  background-color: transparent;
  border: none;
  &:hover,
  &:focus {
    fill: #188ce8;
  }
}
.menu-open-btn {
  margin-left: auto;
  background-color: transparent;
  border: none;
  @media screen and (min-width: 768px) {
    display: none;
  }
  &:hover,
  &:focus {
    fill: #188ce8;
  }
}

.menu-open__icon {
  width: 40px;
  height: 40px;
}

.menu-close__icon {
  width: 40px;
  height: 40px;
}

.mob-menu__list {
  margin-bottom: 50px;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-color);
  &:hover,
  &:focus {
    color: var(--active-link-color);
  }
}

.mob-connect__tf {
  display: block;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--active-link-color);
  &:hover,
  &:focus {
    color: var(--active-link-color);
  }
}

.mob-connect__mail {
  display: block;
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  &:hover,
  &:focus {
    color: var(--active-link-color);
  }
}

.mob-soc {
  display: flex;
}

.mob-soc__item {
  display: flex;
}
.mob-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--active-link-color);
}
.before-icon::before {
  display: block;
  content: "";
  width: 1px;
  height: 22px;
  background-image: url(../images/mob_soc_line.svg);
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  margin-left: 10px;
  margin-right: 10px;
}
